<%= form_with model: article do |f| %>
    <div>
       <%= f.label :title %><br>
       <%= f.text_field :title %>
       <% article.errors.full_messages_for(:title).each do |m| %>
        <div><%= m %></div>
        <% end %>
    </div>

    <div>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
    <% article.errors.full_messages_for(:body).each do |m| %>
     <div><%= m %></div>
     <% end %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>