<h1>Editar um artigo</h1>

<%= render "form", article: @article %>

<h2><%= @article.title %></h2>

<p><%= @article.body %></p>

<ul>
    <li><%= link_to "Editar", edit_article_path(@article) %></li>
</ul>