<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
    <%= link_to "Editar", edit_article_path(@article) %>
    <%= link_to "Deletar", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Você tem certeza que deseja deletar?"
    } %>
</ul>

<h2>Comentários</h2>
<% @article.comments.each do |c| %>
    <p>
        <strong>Comentado por:</strong>
        <%= c.commenter %>
    </p>

    <p>
        <strong>Comentário:</strong>
        <%= c.body %>
    </p>
    <% end %>

<h2>Adicione um comentário</h2>
<%= form_with model: [ @article, @article.comments.build ] do |f| %>
    <p>
        <%= f.label :commenter %><br>
        <%= f.text_field :commenter %>
    </p>
    <p>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>